@import './assets/variables';

.App {
  height: 100vh;
  box-sizing: border-box;
  // position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // background: rgb(148, 148, 148);

  & .webBody {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // border: 2px rgb(2, 255, 56) solid;
  }

  & .scrollTop {
    width: 75px;
    height: 75px;
    padding: 10px 10px 10px 10px;
    margin: 15px;
    transition: 300ms;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    backdrop-filter: blur(5px);
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(79, 79, 79, 0.232);
    border-radius: 100px;
    
    &:hover {
      padding: 10px 10px 20px 10px;
    }
    
    @media screen and (max-width: 600px) {
      &:hover {
        padding: 10px 10px 10px 15px;
      }
      border-right: none;
      border-left: none;
      border-top: 1px solid rgb(255, 255, 255);
      margin: 0;
      width: 60px;
      height: 60px;
      border-radius: 0;
      border-top-left-radius: 40px;
      padding: 10px 10px 10px 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }

    & .label {
      transition: color 300ms ease-out;
      line-height: 50px;
      text-align: center;
      position: absolute;
      font-weight: bolder;
      display: block;
      height: 60%;
      width: 60%;
      color: rgb(54, 152, 222);
    }
  }
}