* {
    outline: none;
    box-sizing: border-box;
    
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;

    &::selection {
      color: #000000;
      background: #ffff00;
      text-shadow: none;
  }
  }
  
  html,
  body {
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background: whitesmoke;
    // background-color: rgb(32, 28, 43);
    background-image: radial-gradient(white 2px, transparent 0%);
    background-size: 15px 15px;
    background-repeat: repeat;
  }
  
  body {

    overflow-x: hidden;
  
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: white;
    }
  
    &::-webkit-scrollbar-thumb {
      background: black;
      border-top: solid 10px tomato;
      border-bottom: solid 10px tomato;
    }
  }