@import '../../assets/variables';

.Project {
    width: 1150px;
    height: fit-content;
    outline: none;
    box-sizing: border-box;
    // border: solid 2px red;

    @media screen and (max-width: 1150px) {
        width: 1050px;
    }

    & .project-card {
        padding: 0;
        width: 1000px;
        height: 300px;
        margin: 35px 0 20px 20px;
        
        float: left;
        background-color: white;
        box-shadow: $---card-shadow;
        border-radius: 0.8rem;

        @media screen and (max-width: 1150px) {
            width: 900px;
        }
    }
}
.dark-project {
    width: 1150px;
    height: fit-content;
    outline: none;
    box-sizing: border-box;
    color: rgb(236,236,241);
    // border: solid 2px red;

    @media screen and (max-width: 1150px) {
        width: 1050px;
    }

    & .project-card {
        padding: 0;
        width: 1000px;
        height: 300px;
        margin: 35px 0 20px 20px;
        
        float: left;
        background-color: $---card-dark-bg;
        box-shadow: $---card-shadow;
        border-radius: 0.8rem;
        outline: $---card-dark-outline;

        @media screen and (max-width: 1150px) {
            width: 900px;
        }
    }
}