.About {
    width: 100%;
    height: fit-content;
    outline: none;
    box-sizing: border-box;
    border: solid 5px red;
    border-bottom: none;

    & h1 {
        padding: 10px;
        border: solid 2px rgb(72, 255, 0);
    }

    & .intro {
        padding: 10px;

        & img {
            width: 100%;
            user-select: none;
        }
    }
}